extend layout
block content
	.chat
		input.chat-name(type="text" placeholder="Username")
		.chat-messages

		textarea.chat-textarea(placeholder="Type your message")
		.chat-status 
			p Status: 
				span Idle

	script(src="http://127.0.0.1:8080/socket.io/socket.io.js")
	script(src="js/index.js")
